body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
h1,p {
    position:absolute;
   font-size: 100px;
    background-image: linear-gradient(to left, red,blue,green,orange,pink);
    -webkit-background-clip:text;
    left: 40%;
    -webkit-text-fill-color: transparent;
   
}
